/* Global Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #171A1E;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

/* Layout Styles */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px;
}

.logo {
	padding: 10px;
}

.waitlist {
	padding: 10px;
	border: none;
	background-color: transparent;
	border-radius: 20px;
	background-image: linear-gradient(-60deg, #9c27b0, #03a9f4, #ff9800);
	color: white;
	font-weight: bold;
}

.hero-image {
	width: 100%;
	height: auto;
	padding: 10px;
	object-fit: cover;
	object-position: center top;
}

.table-container {
	padding: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td {
	border-top: 1px solid;
	border-image: linear-gradient(-60deg, #9c27b0, #03a9f4, #ff9800);
	border-image-slice: 1;
	padding: 10px;
}

.table-heading {
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 10px;
}

.hr {
	border-top: 2px solid;
	border-image: linear-gradient(-60deg, #9c27b0, #03a9f4, #ff9800);
	border-image-slice: 30;
	margin: 30px 0;
}

/* Typography Styles */
.title {
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
	margin: 50px 0;
}

.subtitle {
	font-size: 1.2rem;
	font-weight: lighter;
	text-align: center;
	margin-bottom: 50px;
}

.text {
	font-size: 1rem;
	font-weight: lighter;
	text-align: justify;
	margin-bottom: 30px;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.hero-image {
		height: 50vh;
	}
	.title {
		font-size: 3rem;
		margin: 30px 0;
	}
	.subtitle {
		font-size: 1rem;
		margin-bottom: 30px;
	}
	.text {
		font-size: 0.8rem;
	}
}

@media (max-width: 480px) {
	.hero-image {
		height: 40vh;
	}
	.title {
		font-size: 2rem;
		margin: 20px 0;
	}
	.subtitle {
		font-size: 0.8rem;
		margin-bottom: 20px;
	}
	.text {
		font-size: 0.6rem;
	}
}
